@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@500&family=Fjalla+One&family=Nova+Round&family=Poppins:wght@100;900&family=Roboto+Condensed&display=swap');











img{
    height: 45px;
}

.Google {

    margin-top: -40px;
    margin-left: 50px;
    font-family: 'Roboto Condensed', sans-serif; 
    opacity: 0.6;

}
.left {
 font-family: 'Roboto Condensed', sans-serif;
 float: right;
 margin-right: 400px;
 margin-bottom: 20px;
 opacity: 0.6;

 /* font-family: 'Fira Sans Extra Condensed', sans-serif; */
/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'Nova Round', cursive; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

}

.sun{
    margin-top: -40px;
    margin-bottom: 0px;
}
.heading{
    /* font-family: 'Fira Sans Extra Condensed', sans-serif; */
/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'Nova Round', cursive; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */
font-family: 'Roboto Condensed', sans-serif;
font-weight: 1200px;
margin-left: 40px;
margin-top: 100px;

}
.h3{
    opacity: 0.6;
    margin-left: 40px;
    margin-top: 30px;
}

.btn{
    position: absolute;
    padding: 20px 50px;
    border:none;
    background-color: rgb(3, 179, 248);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFf;
    border-radius: 5px ;
    cursor: pointer;
    animation: animate 2s linear infinite;
    margin-left: 30px;


   

}

table{
    height: 100px;
}
.element{
    margin-left: 250px;
    height: 50px;
    padding: 20px 50px;
}

.serch{
    height: 100px;
}

.slider{
    position: relative;
    width: 60%;
    overflow: hidden;

}
.images{
    display: flex;
    width: 100%;
    

}

.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}

.images input {
    display: none;
}
.dots{
    display: flex;
    justify-content:  center;
    margin: 5px;
}